.App {
  font-family: 'Comfortaa', cursive !important;
  text-align: center;
  background: rgb(51,8,103);
  overflow-x: hidden;
  background: linear-gradient(45deg, rgba(51,8,103,1) 35%, rgba(50,107,155,1) 100%);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.blurred{
  backdrop-filter: blur(3px);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.glow{
  /* text-shadow: 0 0 3px #fc5858,0 0 3px #fa7171,0 0 3px #fff; */
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 2px #fc5858,0 0 2px #fa7171,0 0 3px #fff;
  }
  to {
    text-shadow: 0 0 0px #fa7171,0 0 0px #fa7171,0 0 2px #fff;
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 2px #fc5858,0 0 2px #fa7171,0 0 3px #fff;
  }
  to {
    text-shadow: 0 0 0px #fa7171,0 0 0px #fa7171,0 0 2px #fff;
  }
}