html {
  scroll-behavior: smooth;
}
.App {
  font-family: 'Comfortaa', cursive !important;
  text-align: center;
  overflow-x: hidden;
  background: linear-gradient(45deg,rgba(31,3,65,1) 0%, rgba(51,8,103,1) 35%, rgba(50,107,155,1) 100%);
}
.makeStyles-background-2 > img {
width: 100% !important;
}
@media only screen and (max-width: 800px){
  .makeStyles-background-2 > img {
  height: 90% !important;
  }
    }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.blurred{
  backdrop-filter: blur(3px);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.glow{ 
  /* text-shadow: 1px 1px 10px #61dafb,0 0 2px #fa7171,0 0 3px #fff; */
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 1px 1px 10px #61dafb,0 0 2px #fa7171,0 0 3px #fff;

  }
  to {
    text-shadow: 0 0 0px #fa7171,0 0 0px #fa7171,0 0 2px #fff;
  }
}
@keyframes glow {
  from {
    text-shadow: 1px 1px 10px #61dafb,0 0 2px #fa7171,0 0 3px #fff;
  }
  to {
    text-shadow: 0 0 0px #fa7171,0 0 0px #fa7171,0 0 2px #fff;
  }
}
.MuiTimelineItem-missingOppositeContent:before {
  flex: 0 !important;
  padding: 0 !important;
}

.btnAnimation {
  background: linear-gradient(270deg, #00c6e6, #ff0085);
  background-size: 400% 400%;
  color:#fff !important;
  -webkit-animation: AnimationName 4s ease infinite;
  -moz-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
.MuiFormControl-root .MuiTextField-root{
  width: 100%;
}
.MuiTimelineConnector-root{
  background-color:rgba(255,255,255,0.50) !important
  
}
.MuiTimelineDot-defaultGrey {
  background-color: rgba(255,255,255,1) !important;
}
